/* Milestone 1:
Replica della grafica (immagine in allegato) con la possibilità di avere messaggi scritti dall’utente (verdi) e dall’interlocutore (bianco) assegnando due classi CSS diverse;
Visualizzazione dinamica della lista contatti: tramite la direttiva v-for, visualizzare nome e immagine di ogni contatto, ricavandoli dall'array contacts qui allegato */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E4DCD4;
    height: 100vh;
    font-family: Oxygen;
}
header {
    height: 100px;
    background-color: #009688;
}
main {
    position: relative;
    height: calc(100% - 100px);
    min-width: 900px;
}

/* wrap  */
.wrap {
    position: absolute;
    top: -70px;
    left: 50%;
    transform: translateX(-50%);
    width: 1300px;
    height: 650px;
    display: flex;
    flex-direction: row;
}
.column {
    border: 1px solid grey;
}
.column-right {
    background-image: url("../img/mine.jpg");
    width: 60%;
    height: 100%;
    z-index: 3;
}
.column-left {
    background-color: white;
    width: 40%;
}
.header-column {
    height: 50px;
    background-color: #EAEAEA;
}
.hc-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;                   /* IMPORTANTE */
    font-weight: bold;
    font-size: 0.8em;
}
img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border-radius: 50%;
}
.hc-left ul,
.hc-right ul {
    flex-grow: 1;
    text-align: right;
}
.hc-left li,
.hc-right li {
    display: inline-block;
}
.hc-left i,
.hc-right i {
    font-size: 1.4em;
    margin: 0 5px;
    color: #B1B1B1;
}
.active {
    background-color: rgba(0,0,0,0.2);
}
.contact {
    cursor: pointer;
}
/* notification  */
#notification {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;                   /* IMPORTANTE */
    height: 60px;
    background-color: #8EDAFC;
    display: flex;
    flex-direction: row;
}
#container_bell {
    display: flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    margin-right: 10px;
}
.fa-bell-slash {
    color: #8EDAFC;
    align-self: center;
}
#container_testo_notification {
    font-size: 0.8em;
}
#container_testo_notification a {
    color: grey;
    font-weight: 200;
}

/* search  */
#container-search {
    height: 40px;
    background-color: #F8F8F8;
    padding: 5px;
    position: relative;
}
#container-search input {
    width: 100%;
    height: 100%;
    padding-left: 40px;
    font-size: 0.7em;
}
#container-search i {
    position: absolute;
    top: 12px;
    left: 20px;
    color: grey;
    font-size: 0.9em;
    cursor: pointer;
}

/* anteprime chat  */
aside {
    overflow-y: scroll;
    height: calc(500px - 4px);
}
#container-anteprima-chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;                   /* IMPORTANTE */
}
#container-anteprima-chat img {
    margin-right: 15px;
}
.anteprima-testo h3 {
    font-size: 0.8em;
}
.anteprima-testo h6 {
    font-weight: 200;
    color: grey;
}
/* .anteprima-testo h6::after {
    content: "...";
} */
.anteprima-data {
    font-size: 0.5em;
    color: grey;
    flex-grow: 2;
    text-align: right;
    align-self: flex-start;
}
/* fine left column  */

/* right column  */
.hc-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
.hc-right img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
.hc-right h3 {
    font-size: 0.8em;
}
.hc-right h6 {
    font-size: 0.5em;
    margin-top: 3px;
    color: grey;
}

/* chat  */
#chat {
    height: calc(100% - 100px);
    padding: 30px 60px 15px 60px;
    overflow-y: scroll;
}
.versatile-chat {
    display: flex;
    flex-direction: column;
}
.msg {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 0.5em;
    width: 300px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    margin: 5px 0;
}
.msg h2 {
    width: 75%;
}
.msg h6 {
    width: 22%;
    align-self: flex-end;
    text-align: right;
}
.sent {
    background-color: #D5F9BA;
    align-self: flex-end;
}
.received {
    background-color: white;
    align-self: flex-start;
}

/* footer  */
footer {
    background-color: #F3EEEA;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
footer i {
    cursor: pointer;
}
footer input {
    flex-grow: 1;
    margin: 0 30px;
    height: 30px;
    padding-left: 20px;
    font-size: 0.7em;
}


